* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #222020;
    font-size: 20px;
}

@font-face {
    font-family: "Eurostyle", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/Eurostile/EurostileExtendedBlack.ttf") format("ttf");
}

header, main, footer {
    margin: 0 auto;
    /*width: 80vw;*/
    font-family: "Eurostyle", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


header, .description, .buttons, .price {

}

header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 56px;
}

.preview-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 56px;
}


.site-nav nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    a {
        padding: 8px;
        margin: 20px;
        text-decoration: none;
    }

    img {
        padding: 8px;
        height: 80px;
        width: 80px;
    }
}

.page-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);

    .page-nav {
        display: flex;
        justify-content: start;
        padding: 8px 12px;
        margin: 20px 0;

    }

    a {
        padding: 15px 10px;
        text-decoration: none;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: start;


        img {
            height: 15px;
            width: 15px;
            padding: 1px 1px;
        }
    }
}

.preview-background {
    background-image: url("assets/images/back1.webp");
    background-size: cover;
}



.description {
    img {
        height: 35px;
        width: 35px;
    }

    figcaption {
        margin: -25px 0 50px 70px;
    }

    p {
        font-size: 10px;
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 30%;
    margin: 20px 0;

    button {
        padding: 20px 0;
        margin: 10px 0 10px;

        a {
            padding: 10px 0 10px 0;
            margin-bottom: 100px;
            text-decoration: none;
        }
    }
}

/*.technical-specifications {*/
/*    img {*/
/*        height: 50px;*/
/*        width: 50px;*/
/*    }*/
/*}*/

.foto-design {
    /*display: flex;*/
    /*justify-content: space-around;*/

    img {
        height: 50px;
        width: 50px;
    }
}

.multimedia {
    img {
        height: 50px;
        width: 50px;
    }
}

.engine {
    img {
        height: 200px;
        width: 250px;
    }

    height: 70%;
    width: 30%;
    overflow: hidden;
}

.box {
    img {
        height: 200px;
        width: 250px;
    }

    height: 70%;
    width: 30%;
    overflow: hidden;
}

.xDrive {
    img {
        height: 200px;
        width: 250px;
    }

    height: 70%;
    width: 30%;
    overflow: hidden;
}

.table {
    display: flex;
    flex-wrap: wrap;
}

.technical-specifications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px 0 50px;
}